{% extends 'CoreBundle:Core:layout.html.twig' %}
 
{% block menu %}
	<header>
		<div id="menu">
			<ul>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
		</div>
	</header>
{% endblock %}