{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Greco Inmobiliaria{% endblock %}</title>
  </head>
  <body>
  	{% block menu %}
    {% endblock %}
    {% block body %}
    {% endblock %}
  </body>
</html>